.bio{
    margin: 10px 0;
    color: #0bceaf;
  font-size: 1rem;
text-align: left;
}

.bio span{
    padding-left:10px;
}
 .hr_class{
    height: 13px;
}

.change_color span{
    color: #0bceaf;
}

.upper_space{
    padding-top: 35px;
}



.footers {
    
    padding: 20px 0;
    text-align: center;
  }

  .footers .social-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

  .footers .social-icons li {
    margin-right: 10px;
    color: white;
  }

  .footers .social-icons li:last-child {
    margin-right: 0;
  }

  .footers .social-icons a {
    color: white;
    font-size: 20px;
    transition: color 0.3s;
  }

  .footers .social-icons a:hover {
    color: #0bceaf;
  }






  .gallery-block{
    padding-bottom: 60px;
    padding-top: 60px;
  }

  
  .gallery-block .heading{
      margin-bottom: 50px;
      text-align: center;
  }
  
  .gallery-block .heading h2{
      font-weight: bold;
      font-size: 1.4rem;
      text-transform: uppercase;
  }
  
  .gallery-block.cards-gallery h6 {
    font-size: 17px;
    font-weight: bold; 
  }
  
  .card{
    height: 380px;
  }

  .gallery-block.cards-gallery h6 a{
    color: #0bceaf;
  }

  
  .gallery-block.cards-gallery .card{
    transition: 0.4s ease; 
    background-color: #202026;
  }
  
  .gallery-block.cards-gallery .card img {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15); 
  }
  
  .gallery-block.cards-gallery .card-body {
    text-align: center; 
  }
  
  .gallery-block.cards-gallery .card-body p {
    font-size: 15px; 
  }
  .gallery-block.cards-gallery .card-body p a {
    color: #fff;
  }
  
  .gallery-block.cards-gallery a {
    color: #212529; 
  }
  
  .gallery-block.cards-gallery a:hover {
    text-decoration: none; 
  }
  
  .gallery-block.cards-gallery .card {
    margin-bottom: 30px; 
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  }
  
  @media (min-width: 576px) {
  
    .gallery-block .transform-on-hover:hover {
        transform: translateY(-10px) scale(1.02);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important; 
    }
  }

  